*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway;
   
}

body{
    overflow-x: hidden;
}

.navbar1{
    margin-left: 200px;
    font-weight: 600;
    font-size: 50px;
    
}

.nav-item1{
    margin-left: 380px;

}
.nav-item1 i{
    font-size: 24px;
    margin-top: 10px;
    margin-left: 20px;
}
.img1{
    background-size: cover;
    background-position: center;
    height: 90vh;
    width: 100vw;
    position: relative;
}
.up{
    position: absolute;
    height: 90vh;
    width: 99vw;
    z-index: 99;
    color: white;
    top: 35%;
    text-align: center;
}
.up p {
    font-size: 21px;
}
.btn1{
    color: #fff;
    padding: 12px 40px;
    border: 1px solid white;
}
.seo{
    background-color: #fff;
    height: 50vh;
    margin-bottom: 70px;
}
.port{
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: center;
 
}
.img2{
    background-size: cover;
    background-position: center;
    height: 60vh;
    width: 100vw;
    position: absolute;
    margin-top: 150px;
    
}
.up2{
    position: relative;
    height: 60vh;
    width: 99vw;
    z-index: 99;
    color: #FFF;
    left: 27%;
    text-align: justify;
    margin-top: 250px;

}
.up2 button{
    margin-left: 200px;
    margin-top: 30px;
}

.project{
    background-color: #000;
    color: #FFF;

}
.img3{
    position: relative;
}
.name{
    position: absolute;
    background-color: transparent;
    left: 30%;
    top: 30%;
    font-size: 20px;

}
/* .img3 p{
    display: none;
}
.img3 p :hover{
    display: flexbox;
} */

.up-ft{
    font-size: 30px;
    padding-top: 80px;
    height: 40vh;
    text-align: end;
   
    
}
.up-ft button{
    font-size: 20px;
    margin-left: 280px;
    width: 20vw;
    
    
}
.footer{
    color: #FFF;
    font-size: 18px;
    
}

.icon i{
   font-size: 25px;
   margin: 8px;
}
.scroll{
    height: 30vh;
    width: 100vw;
    white-space: nowrap;
    display: inline-block;
    margin-left: 50px;
    overflow-x: hidden;
    overflow-y: hidden;  
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    opacity: 0.5; 
    margin-bottom: 40px;
}
.conatiner2{
    height: 100%;
    width: 100%; 
    display: inline-block; 
    animation: anime 5s infinite linear;
    
}
@keyframes anime {
        from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
    
}
    
.scroll a img{
    height: 9vh;
    width: 6vw;
    margin: 120px;
    
}
.scroll:hover{
    opacity: 1;
}